@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="avatar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M10 12.5c-5.92 0-9 3.5-9 5.5v1h18v-1c0-2-3.08-5.5-9-5.5z"/>
        <circle cx="10" cy="6" r="5"/>
    </svg>
</div>
<section>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <input autocomplete="username" type="email" id="Input_Email" name="Input.Email" placeholder="Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div>
            <input autocomplete="current-password" type="password" id="Input_Password" name="Input.Password" placeholder="Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div>
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input type="checkbox" id="Input_RememberMe" name="Input.RememberMe">
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <button id="login-submit" type="submit" >Log in</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}