.container .container-header {
    margin: 1rem;
}

    .container .container-header ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 80%;
    }

        .container .container-header ul li a {
            color: #555555;
            font-size: 1.5rem;
        }

            .container .container-header ul li a.actif {
                font-size: 2rem;
                padding: 0;
            }

.container .container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .container .container-body section {
        width: 100%;
    }

footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}
